# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
out/**

# Ignore source code
src/**

# Ignore node modules
node_modules/**

# Ignore Misc
.github/**
.yarnrc
vsc-extension-quickstart.md
**/.gitignore
**/tsconfig.json
**/tsconfig.node.json
**/webpack.config.js
**/.eslintrc.json
**/*.map
**/*.ts