
**

!package.json

!LICENSE.*
!README.*
!CHANGELOG.*

!dist/*.js

!vsdbg-engine-extension/bin/x86/ChildDebugger.dll
!vsdbg-engine-extension/bin/x64/ChildDebugger.dll
!vsdbg-engine-extension/bin/arm/ChildDebugger.dll
!vsdbg-engine-extension/bin/arm64/ChildDebugger.dll
!vsdbg-engine-extension/bin/ChildDebugger.vsdconfig
!vsdbg-engine-extension/bin/info.txt
