name: CI

on:
  push

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18.17

      - name: Create Test User
        run: |
          $PW = "Rb4Z7X9d(pf$%*?S=dG@VaMZe" | ConvertTo-SecureString  -AsPlainText -Force
          New-LocalUser -Name "TestUser" -Password $PW

      - name: Install NPM Dependencies
        run: npm install

      - name: Compile VSCode Extension
        run: npm run compile

      - name: Run Linter
        run: npm run lint

      - uses: NuGet/setup-nuget@v1

      - uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.25.0"
          ninjaVersion: "^1.11.1"
  
      - name: Install VSDbg Engine Extension Dependencies
        run: |
          nuget install Microsoft.VSSDK.Debugger.VSDebugEng -Version 17.0.2012801
          nuget install Microsoft.VSSDK.Debugger.VSDConfigTool -Version 17.0.2012801

      - uses: TheMrMilchmann/setup-msvc-dev@v2
        with:
          arch: x64

      - name: Configure VSDbg Engine Extension (x64)
        run: |
          mkdir build/x64
          cd build/x64
          cmake "${{ github.workspace }}\vsdbg-engine-extension" `
          -G Ninja `
          -DCMAKE_BUILD_TYPE=RelWithDebInfo `
          -DCMAKE_PREFIX_PATH="${{ github.workspace }}\Microsoft.VSSDK.Debugger.VSDebugEng.17.0.2012801\build\native;${{ github.workspace }}\Microsoft.VSSDK.Debugger.VSDConfigTool.17.0.2012801\build" `
          -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}\vsdbg-engine-extension" `
          -DCHILDDEBUGGER_INSTALL_PDB=ON
  
      - name: Build & Install VSDbg Engine Extension (x64)
        run: |
          cd build/x64
          ninja install

      - uses: TheMrMilchmann/setup-msvc-dev@v2
        with:
          arch: x86

      - name: Configure VSDbg Engine Extension (x86)
        run: |
          mkdir build/x86
          cd build/x86
          cmake "${{ github.workspace }}\vsdbg-engine-extension" `
          -G Ninja `
          -DCMAKE_BUILD_TYPE=RelWithDebInfo `
          -DCMAKE_PREFIX_PATH="${{ github.workspace }}\Microsoft.VSSDK.Debugger.VSDebugEng.17.0.2012801\build\native;${{ github.workspace }}\Microsoft.VSSDK.Debugger.VSDConfigTool.17.0.2012801\build" `
          -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}\vsdbg-engine-extension" `
          -DCHILDDEBUGGER_INSTALL_PDB=ON
  
      - name: Build & Install VSDbg Engine Extension (x86)
        run: |
          cd build/x86
          ninja install

      - name: Give Test User Access To Test Executables
        run: |
          $accessRule = New-Object System.Security.AccessControl.FileSystemAccessRule("TestUser","ReadAndExecute","Allow")
          $files = Get-ChildItem -Recurse build\*\tests\bin\*.exe
          $acls = $files | Get-ACL
          $acls | ForEach-Object { $_.AddAccessRule($accessRule); }
          $acls | ForEach-Object { $_ | Set-ACL -Path $_.Path; }

      - name: Compile VSCode Test Sources
        run: npm run pretest

      - name: Run VSCode unit tests
        run: |
          $env:CHILDDEBUGGER_TEST_IS_ADMIN = "1"
          $env:CHILDDEBUGGER_TEST_HAS_TEST_USER = "1"
          npm run test
